/* # BASE */

/* ## Root */

body {
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    line-height: 1.375;
    color: #002b40;
    background-color: #fff;
}

/* ## Links  */

a {
    color: #647dff;
}

/* ## Headings */

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: 700;
    margin-top: 1em;
    margin-bottom: 0.5em;
}

h1 {
    margin-top: 0;
    font-size: 3rem;
}

h2 {
    font-size: 1.25rem;
}

h3 {
    font-size: 1.5rem;
}

h4 {
    font-size: 1.125rem;
}

/* ## Media  */

img {
    max-width: 100%;
    height: auto;
}

.js img[loading='lazy'] {
    opacity: 0;
    transition: opacity 0.3s ease;
}

.js img.loaded {
    opacity: 1;
}

/* ## Webkit scrollbars */

body *::-webkit-scrollbar {
    width: 6px;
    height: 6px;
}

body *::-webkit-scrollbar-track {
    background: transparent;
}

body *::-webkit-scrollbar-thumb {
    background-color: #647dff;
    -webkit-transition: background-color 0.15s ease;
    transition: background-color 0.15s ease;
}

body *::-webkit-scrollbar-thumb:hover {
    background-color: #4262ff;
}

/* ## Other */

hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border-color: #e6e6e6;
}

/* # BOOTSTRAP */

.form-control {
    height: calc(1.5em + 1.5rem + 2px);
    padding: 0.75rem 1rem;
    border-radius: 0.25rem;
}

.form-control::placeholder {
    color: #647dff;
    opacity: 1;
}

.form-control:-ms-input-placeholder {
    color: #647dff;
}

.form-control::-ms-input-placeholder {
    color: #647dff;
}

.form-control:focus {
    border-color: #647dff;
    box-shadow: 0 0 0 0.2rem rgb(100 125 255 / 25%);
}

textarea.form-control {
    min-height: 122px;
}

/* ## Extensions */

.object-contain {
    object-fit: contain;
}

.object-cover {
    object-fit: cover;
}

.object-fill {
    object-fit: fill;
}

/* # COLORS */

.color-primary {
    color: #647dff !important;
}

.color-light {
    color: #fff !important;
}

.color-body {
    color: #243b53 !important;
}

.bg-light {
    background-color: #fff !important;
}

.bg-light-alt {
    background-color: #eff2f3 !important;
}

.bg-dark {
    background-color: #00002c !important;
}

.bg-theme {
    background-color: #647dff !important;
}

.bg-theme-light {
    background-color: #e6eaff !important;
}

/* # LAYOUT */

.container-fluid {
    max-width: 1920px;
    padding-right: 16px;
    padding-left: 16px;
}

.content-stretch {
    margin-right: -16px;
    margin-left: -16px;
}

/* # COMPONENTS */

/* ## Page */

.page-wrapper {
    position: relative;
}

/* ## Buttons */

.btn-theme {
    color: #fff;
    background-color: hsl(230, 100%, 70%);
    border-color: #647dff;
}

.btn-theme:hover {
    color: #fff;
    background-color: #4262ff;
    border-color: #4262ff;
}

.btn-theme:focus {
    box-shadow: 0 0 0 0.2rem rgb(100 125 255 / 50%);
}

/* ## Links */

/* ## Forms */

/* ## Responsive media */

.responsive-media picture {
    position: relative;
    display: block;
    max-width: 100%;
    height: 0;
    padding-top: 55.25%;
}

.responsive-media picture img {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
}

/* ## Site Header */

.site-header {
    position: fixed;
    top: 0;
    right: 0;
    left: 0;
    z-index: 10;
    max-height: 100%;
    overflow-y: auto;
    -webkit-transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
    transition: background-color 0.3s ease, box-shadow 0.3s ease-in-out;
}

.no-js .site-header,
.site-header.is-expanded,
.site-header.is-scrolled {
    background-color: #fff;
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.3);
}

.navbar {
    padding: 20px 0;
    transition: padding 0.3s ease;
}

.site-header.is-scrolled .navbar {
    padding-top: 10px;
    padding-bottom: 10px;
}

.navbar-brand {
    padding-top: 0;
    padding-bottom: 0;
    margin-right: 0;
}

.navbar-brand img {
    width: 107px;
    max-height: 20px;
    transition: all 0.3s ease;
}

.site-header.is-scrolled .navbar-brand img {
    width: 107px;
    max-height: 20px;
}

.navbar-toggler {
    padding: 3px;
    margin-top: 12px;
    margin-bottom: 12px;
    color: #fff;
    border-width: 0;
    opacity: 0.75;
    transition: opacity 0.3s ease;
}

.navbar-toggler:hover,
.navbar-toggler:focus {
    opacity: 1;
}

.navbar-toggler .icon-bar {
    height: 2px;
    width: 22px;
    border-radius: 1px;
    display: block;
    background-color: #fff;
    -webkit-transition: all 0.3s;
    transition: all 0.3s;
}

.is-expanded .navbar-toggler .icon-bar,
.is-scrolled .navbar-toggler .icon-bar {
    background-color: #647dff;
}

.navbar-toggler .icon-bar + .icon-bar {
    margin-top: 4px;
}

.navbar-toggler .icon-bar:nth-of-type(1) {
    -webkit-transform: translateX(3px) rotate(45deg);
    transform: translateX(3px) rotate(45deg);
    -webkit-transform-origin: 10% 10%;
    transform-origin: 10% 10%;
}

.navbar-toggler .icon-bar:nth-of-type(2) {
    opacity: 0;
}

.navbar-toggler .icon-bar:nth-of-type(3) {
    -webkit-transform: translateX(3px) rotate(-45deg);
    transform: translateX(3px) rotate(-45deg);
    -webkit-transform-origin: 10% 90%;
    transform-origin: 10% 90%;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(1) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(2) {
    opacity: 1;
}

.navbar-toggler.collapsed .icon-bar:nth-of-type(3) {
    -webkit-transform: rotate(0);
    transform: rotate(0);
}

.collapse-main {
    -ms-flex-preferred-size: auto;
    flex-basis: auto;
    width: 100%;
    max-width: none;
    padding-right: 16px;
    padding-left: 16px;
}

.navbar-nav .nav-link {
    line-height: 1.25;
    font-size: 0.875rem;
    font-weight: 500;
    color: #fff;
    outline: none;
    opacity: 0.75;
    -webkit-transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
    transition: color 0.15s ease-in-out, opacity 0.15s ease-in-out;
}

.no-js .navbar-nav .nav-link,
.is-expanded .navbar-nav .nav-link,
.is-scrolled .navbar-nav .nav-link {
    color: #647dff;
}

.navbar-nav > .show > .nav-link,
.navbar-nav .nav-link.active,
.navbar-nav .nav-link:hover,
.navbar-nav .nav-link:focus {
    opacity: 1;
}

.navbar-nav > .nav-item > .nav-link {
    padding: 15px 0;
    text-transform: uppercase;
}

.main-nav {
    padding-top: 20px;
    margin-right: -16px;
    margin-left: -16px;
    -webkit-transition: padding 0.3s ease;
    transition: padding 0.3s ease;
}

.main-nav .nav-item {
    border-bottom: 1px solid rgba(100, 125, 255, 0.2);
}

.main-nav .nav-item:first-child {
    border-top: 1px solid rgba(100, 125, 255, 0.2);
}

.main-nav > .nav-item > .nav-link {
    padding-left: 16px;
    padding-right: 16px;
}

.navbar-collapse .btn {
    width: 100%;
    padding: 11px 24px;
    margin-top: 50px;
    margin-bottom: 30px;
    line-height: 1.5;
    font-size: 0.875rem;
    font-weight: 500;
}

.site-header.is-scrolled .navbar-collapse .btn {
    margin-top: 40px;
}

/* ## Site Footer */

.site-footer {
    font-size: 0.875rem;
}

.site-footer a {
    color: #fff;
    opacity: 0.75;
    -webkit-transition: opacity 0.2s ease;
    transition: opacity 0.2s ease;
}

.site-footer a.active,
.site-footer a:hover,
.site-footer a:focus {
    opacity: 1;
}

.footer-body {
    padding-top: 32px;
}

.footer-nav .nav-link {
    font-weight: bold;
}

.footer-contacts dt::after {
    content: ':';
}

.footer-foot {
    /* padding-top: 24px; */
    padding-bottom: 32px;
    font-size: 0.875rem;
}

/* ## Banner */

.banner {
    position: relative;
    height: 400px;
    padding-top: 48px;
}

.banner::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 0;
    background: url('../images/night-sky.jpg') no-repeat center;
    background-size: cover;
    opacity: 0.34;
}

.page-title {
    margin-bottom: 32px;
}

.page-title img {
    display: block;
    width: 300px;
}

.page-subtitle {
    height: 28px;
    font-size: 1.25rem;
}

/* ## Text Box */

.text-box ul {
    padding-left: 15px;
}

.text-box ul {
    padding-left: 0;
    list-style: none;
}

.text-box ul li {
    position: relative;
    padding-left: 20px;
    margin-bottom: 8px;
}

.text-box ul li:last-child {
    margin-bottom: 0;
}

.text-box ul li::before {
    position: absolute;
    top: calc(1.375em / 2);
    left: 0;
    width: 5px;
    height: 5px;
    content: '';
    margin-top: -3px;
    background-color: #002b40;
    border-radius: 50%;
}

.color-light .text-box ul li::before {
    background-color: #fff;
}

/* ## Slider */

.slider {
    margin-right: -8px;
    margin-left: -8px;
}

.slider-item {
    padding-right: 8px;
    padding-left: 8px;
}

.js .slider-item:nth-child(n + 2) {
    display: none;
}

.js .slider.slick-initialized .slider-item.slick-slide:nth-child(n) {
    display: block;
}

.slider .slick-cloned img[loading='lazy'] {
    opacity: 1;
}

/* ## Slick */

.slick-slider {
    position: relative;
    display: block;
    box-sizing: border-box;

    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;

    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -ms-touch-action: pan-y;
    touch-action: pan-y;
    -webkit-tap-highlight-color: transparent;
}

.slick-list {
    position: relative;
    display: block;
    overflow: hidden;
    margin: 0;
    padding: 0;
}

.slick-list:focus {
    outline: none;
}

.slick-list.dragging {
    cursor: pointer;
    cursor: hand;
}

.slick-slider .slick-track,
.slick-slider .slick-list {
    -webkit-transform: translate3d(0, 0, 0);
    transform: translate3d(0, 0, 0);
}

.slick-track {
    position: relative;
    top: 0;
    left: 0;
    display: block;
    margin-left: auto;
    margin-right: auto;
}

.slick-track:before,
.slick-track:after {
    display: table;
    content: '';
}

.slick-track:after {
    clear: both;
}

.slick-loading .slick-track {
    visibility: hidden;
}

.slick-slide {
    display: none;
    float: left;
    height: 100%;
    min-height: 1px;
}

[dir='rtl'] .slick-slide {
    float: right;
}

.slick-slide img {
    display: block;
}

.slick-slide.slick-loading img {
    display: none;
}

.slick-slide.dragging img {
    pointer-events: none;
}

.slick-initialized .slick-slide {
    display: block;
}

.slick-loading .slick-slide {
    visibility: hidden;
}

.slick-vertical .slick-slide {
    display: block;
    height: auto;
    border: 1px solid transparent;
}

.slick-arrow.slick-hidden {
    display: none;
}

/* ## Slick theme */

.slick-slide:focus {
    outline: none;
}

.slick-dots {
    display: -ms-flexbox;
    display: flex;
    justify-content: center;
    padding: 0;
    margin: 0;
    list-style: none;
    text-align: center;
}

.slick-dots li {
    display: inline-block;
    padding: 0;
    margin: 4px;
}

.slick-dots li button {
    position: relative;
    display: block;
    width: 16px;
    height: 16px;
    padding: 5px;
    font-size: 0;
    line-height: 0;
    cursor: pointer;
    color: transparent;
    background: transparent;
    border: 0;
    outline: none;
}

.slick-dots li button:hover,
.slick-dots li button:focus {
    outline: none;
}

.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
    opacity: 1;
}

.slick-dots li button:before {
    position: absolute;
    top: 4px;
    left: 4px;
    width: 8px;
    height: 8px;
    content: '';
    background-color: transparent;
    border: 1px solid #647dff;
    border-radius: 50%;
    transition: background-color 0.15s ease-in-out, border-color 0.15s ease-in-out;
}

.slick-dots li.slick-active button:before {
    background-color: #647dff;
    border-color: #647dff;
}

/* # SECTIONS */

/* ## Common */

.section {
    padding-top: 64px;
    padding-bottom: 64px;
}

.section.small {
    padding-top: 48px;
    padding-bottom: 48px;
}

.section-head {
    margin-bottom: 32px;
    text-align: center;
}

.section-name {
    margin-bottom: 10px;
    font-size: 1rem;
    font-weight: 600;
    color: #bcccdc;
    text-transform: uppercase;
}

.section-title {
    margin-top: 0;
    margin-bottom: 0;
    font-size: 1.5rem;
    font-weight: 700;
    text-transform: uppercase;
}

.section-description {
    margin-bottom: 0;
    font-size: 1.125rem;
}

.section-title + .section-description {
    margin-top: 32px;
}

/* ## About */

.section-about .responsive-media {
    margin-bottom: -64px;
}

.section-about p:first-child::before {
    content: '';
    position: absolute;
    top: 0;
    display: block;
    width: 25%;
    border-top: 6px solid #647dff;
}

/* ## Usage */

.usage-list div {
    padding: 24px 16px;
    border-top: 3px solid transparent;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
    transform-origin: center 0;
    transition: border-color 0.3s ease, transform 0.3s ease, box-shadow 0.3s ease;
}

.usage-list div:hover {
    border-top-width: 3px;
    border-top-color: #647dff;
    box-shadow: 0 3px 16px rgba(0, 0, 0, 0.16);
    -webkit-transform: translateY(3px) scale(1.01);
    transform: translateY(3px) scale(1.02);
}

.usage-list h3 {
    font-size: 1.3125rem;
}

/* ## Features */

.feature-list li {
    font-size: 1.125rem;
}

.feature-list li::before {
    content: '';
    display: block;
    width: 73px;
    height: 73px;
    margin-bottom: 20px;
    background: no-repeat center;
}

.feature-list li:nth-child(1)::before {
    background-image: url('../images/icons/cube-1.svg');
}

.feature-list li:nth-child(2)::before {
    background-image: url('../images/icons/cube-2.svg');
}

.feature-list li:nth-child(3)::before {
    background-image: url('../images/icons/cube-3.svg');
}

.feature-list li:nth-child(4)::before {
    background-image: url('../images/icons/cube-4.svg');
}

/* ## Understanding and forecast */

.section-understanding {
    position: relative;
    padding-top: 96px;
    padding-bottom: 96px;
}

.section-understanding::before {
    content: '';
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    opacity: 0.6;
    background: url('../images/crossroads.jpg') no-repeat center;
    background-size: cover;
    mix-blend-mode: soft-light;
}

.section-understanding .section-description {
    font-size: 1.5rem;
    font-weight: 700;
    font-style: italic;
}

/* ## Digital Twin */

.section-digital-twin .responsive-media {
    z-index: 1;
    margin-bottom: -100px;
    box-shadow: 0 3px 7px rgba(0, 0, 0, 0.16);
}

.section-digital-twin .responsive-media picture {
    padding-top: 74.074%;
}

/* ## Columns */

.section-columns .section-title {
    font-size: 1.5rem;
    text-transform: none;
}

.section-columns .responsive-media picture {
    padding-top: 74.074%;
}

.section-columns .row {
    margin-bottom: 60px;
}

.section-columns .row:last-child {
    margin-bottom: 0;
}

/* ## Concept */

.concept {
    width: 100%;
    min-width: 640px;
    padding: 8px;
    font-size: 0.875rem;
    background-color: #647dff;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.concept table {
    width: 100%;
    color: #fff;
}

.concept th,
.concept td {
    padding: 8px;
    text-align: center;
    vertical-align: middle;
}

.concept td {
    padding: 16px 8px;
    color: #00002c;
    background-color: #fff;
}

.concept th {
    font-weight: 400;
}

.concept thead th {
    vertical-align: top;
}

.concept tbody th {
    padding-right: 16px;
}

.concept th strong {
    display: block;
    font-weight: 400;
    text-transform: uppercase;
}

.concept th span {
    color: #ccd5ff;
}

.concept td div {
    margin-right: auto;
    margin-left: auto;
}

.concept td div.check {
    width: 24px;
    height: 24px;
    background: #1dbf44 url('../images/icons/check.svg') no-repeat center;
    border-radius: 50%;
}

.concept td div.ww {
    width: 41px;
    height: 8px;
    background: url('../images/icons/logo.svg') no-repeat center;
}

.concept-wrapper {
    z-index: 0;
    overflow-x: auto;
}

.viewport {
    position: relative;
    overflow: hidden;
    padding-top: 60px;
}

.viewport::before,
.viewport::after {
    position: absolute;
    top: 60px;
    bottom: 8px;
    left: -5px;
    z-index: 1;
    content: '';
    width: 5px;
    background: rgb(240, 244, 248);
    visibility: hidden;
    opacity: 0;
    box-shadow: 3px 0px 6px 0 rgba(0, 0, 0, 0.12);
    transition: visibility 0.3s ease, opacity 0.3s ease;
}

.viewport::after {
    right: -5px;
    left: auto;
    box-shadow: -3px 0px 6px 0 rgba(0, 0, 0, 0.12);
}

.viewport.left::before,
.viewport.right::after {
    visibility: visible;
    opacity: 1;
}

.viewport .controls {
    position: relative;
    top: -8px;
    height: 28px;
    padding-right: 3px;
    padding-left: 3px;
    margin-top: -28px;
}

.viewport .controls > .btn {
    width: 28px;
    height: 28px;
    padding: 0;
    background: transparent url('../images/icons/chevron-right.svg') no-repeat center;
    background-size: 7px 10px;
    border-radius: 50%;
    visibility: hidden;
    opacity: 0;
    transition: background-color 0.3s ease, visibility 0.3s ease, opacity 0.3s ease;
    -webkit-transform: rotateY(180deg);
    transform: rotateY(180deg);
}

.viewport .controls > .btn:hover {
    background-color: #e6eaff;
}

.viewport .controls > .btn:focus {
    background-color: #e6eaff;
    box-shadow: none !important;
}

.viewport .controls > .btn:last-child {
    left: auto;
    right: 0;
    -webkit-transform: rotateY(0deg);
    transform: rotateY(0deg);
}

.viewport.left .controls > .btn:first-child,
.viewport.right .controls > .btn:last-child {
    visibility: visible;
    opacity: 1;
}

/* ## Clients */

.no-js .clients {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    -ms-flex-align: center;
    align-items: center;
    -ms-flex-pack: distribute;
    justify-content: space-around;
}

.js .clients::after {
    content: '';
    position: absolute;
    top: -10px;
    right: -2px;
    bottom: -10px;
    left: -2px;
    box-shadow: inset 0 0 30px 30px #fff;
}

.clients .slick-track {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-align: center;
    align-items: center;
}

.clients .slider-item {
    padding: 16px;
}

/* ## Usecases */

.no-js .usecases {
    margin-right: 0;
    margin-left: 0;
}

.usecases .slick-track {
    display: -ms-flexbox;
    display: flex;
}

.usecases .slick-slide {
    /* height: inherit !important; */
    margin-bottom: 8px;
}

.usecases .slick-dots {
    margin-top: 20px;
    margin-bottom: -20px;
}

.usecase {
    padding-top: 24px;
    padding-bottom: 24px;
    background-color: #fff;
    border: 1px solid #c5cdd7;
    border-radius: 3px;
    box-shadow: 0 3px 6px rgba(0, 0, 0, 0.16);
}

.no-js .usecases .slider-item {
    margin-bottom: 32px;
}

.no-js .usecases .slider-item:last-child {
    margin-bottom: 0;
}

.usecase h3 {
    font-size: 1.3125rem;
}

.usecase a {
    font-size: 1.25rem;
    font-weight: 700;
    text-transform: uppercase;
    text-decoration: none;
}

/* ## Live news */

.section-live-news .responsive-media {
    overflow: hidden;
    border: 1px solid #dfdfdf;
    border-radius: 3px;
}

.section-live-news .responsive-media picture {
    padding-top: 200%;
}

.section-live-news iframe {
    position: absolute;
    top: -2px;
    left: -11px;
    width: calc(100% + 17px);
    height: calc(100% + 16px);
}

/* ## Contact us */

.contact-form {
    position: relative;
}

.contact-form::before {
    content: '';
    position: absolute;
    top: 1px;
    left: 5%;
    width: 120%;
    height: 135%;
    background: url('../images/icons/w.svg') no-repeat top left;
    background-size: cover;
}

.send-message-button {
    padding: 16px 30px;
    font-size: 0.875rem;
    font-weight: 700;
    text-transform: uppercase;
}

.send-message-button::after {
    content: '';
    width: 29px;
    height: 14px;
    background: url('../images/icons/arrow-right.svg') no-repeat center;
}
